.DefenceFleet {
    position: absolute;
    top: 15%;
    height: 30%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.4);
}

.DefenceFleet .registerFleet {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.DefenceFleet .fleetStatus {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.DefenceFleet .registerButton {
    border: 2px solid #73ffbe;
    color: #73ffbe;
    border-radius: 0.5rem;
    padding: 0.5rem;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.4);
}

.DefenceFleet .defenceIcon {
    color: #73ffbe;
    font-size: 5rem;
    top: 1.5rem;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    border: 1px solid #73ffbe;
}

.DefenceFleet .iconTitle {
}

.DefenceFleet .unregisterFleet {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.DefenceFleet .fleetBalance {
    font-size: 2rem;
}

.DefenceFleet .homeFleetIcon {
    cursor: pointer;
}

body > [role="presentation"] .modalCloseIcon {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    height: 2.1875rem;
    cursor: pointer;
}