@font-face {
    font-family: "Exo 2";
    src: url("./Exo2-Medium.ttf") format("truetype");
}

html {
    position: fixed;
    height: 100%;
    width: 100%;
    font-size: 10px;
}

@media (min-width:961px) {
    html {
        font-size: 20px;
    }
}

body {
    height: 100%;
    margin: 0;
    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    background: black;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
    text-align: center;
    font-family: "Exo 2", sans-serif !important;
    background: url("./images/szpieg_01.jpeg") no-repeat center center;
    background-size: cover;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    touch-action: none;
}

.App .ui .uiElement {
    color: white;
    position: absolute;
    user-select: none;
}

.App .ui .cancelBox {
    left: 0.5rem;
    text-decoration: none;
}

.App .ui .doneBox {
    right: 0.5rem;
}

.App .ui .bottomBox {
    position: absolute;
    bottom: 0.5rem;
    width: 8rem;
    height: 3rem;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
    border: 2px solid #73ffbe;
    color: #73ffbe;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
    flex-direction: column;
}

.App .ui .doneBox.disabled {
    background: white;
}

.App .settingsWrapper {
    text-align: right;
    color: white;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

.App .settingsWrapper svg {
    cursor: pointer;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    margin-left: 0.5rem;
    font-size: 3rem;
}

.App .settingsWrapper svg.questsButton {
    color: #FFEB3B;
}

.App .playerName {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.App .playerNameInput {
    font: 500 2rem "Exo 2";
    background: transparent;
    color: white;
    border: none;
}

.App .playerNameInput:focus {
    outline: none;
}

.App .mainMenu {
    position: absolute;
    top: 40%;
    left: 0.5rem;
    width: calc(100% - 1rem);
    height: 30%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.App .mainScreen .settings {
    position: absolute;
    color: white;
    text-align: right;
    cursor: pointer;
    top: 0.5rem;
    right: 0.5rem;
    width: 3rem;
    height: 3rem;
    background: url("./images/cogwheel.svg") no-repeat center center;
    background-size: cover;
}

.App .mainScreen .settings svg {
    font-size: 3rem;
}

.App .mainMenu .mainMenuItem {
    font-size: 1.75rem;
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: white;
    cursor: pointer;
    flex: 1;
    margin: 0.5rem;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.App .mainMenu .mainMenuItem:focus {
    outline: none;
}

.App .mainMenu .mainMenuItem:not(.disabled):hover {
    color: #73ffbe;
}

.App .mainTitle {
    position: absolute;
    top: 5%;
    left: 42.5%;
    width: 15%;
    height: 20%;
    background: url("./newomega_trans7.png") no-repeat center center;
    background-size: cover;
}

@keyframes fade-out {
    from {
        left: 0;
        opacity: 1;
    }
    to {
        left: 100%;
        opacity: 0;
    }
}

.App .introVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 1;
    animation: fade-out 0.5s ease-in forwards;
    animation-delay: 6s;
}

.App .bottomElement {
    bottom: 0.25rem;
    font-size: 0.5rem;
}

.App .versionBox {
    right: 0.25rem;
}

.App .versionBox:before {
    font-size: 0.75rem;
    content: 'Version: 1.0.0 | Powered by Polkadot | © celrisen.eth';
}

.App .ethBalance {
    left: 0.5rem;
}

.App .mainBalance {
    font-size: 0.75rem;
    left: 0.5rem;
    display: flex;
    align-items: center;
}

.App .mainBalance svg {
    margin-right: 0.1rem;
}

.App .chargeInfo {
    position: absolute;
    bottom: 0;
    font-size: 1rem;
}

.App .miniLogoBox {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    width: 5rem;
    height: 3rem;
    background: url("./newomega_trans7.png") no-repeat center center;
    background-size: cover;
}

.App #omegaLoadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("./images/szpieg_01.jpeg") no-repeat center center;
    background-size: cover;
}

.App #omegaLoadingScreen .logo {
    position: fixed;
    top: 35%;
    left: 35%;
    width: 30%;
    height: 40%;
    background: url("./newomega_trans7.png") no-repeat center center;
    background-size: 75%;
}

.App #omegaLoadingScreen .status {
    position: fixed;
    bottom: 1rem;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 0.5rem;
    color: white;
}

.App #omegaLoadingScreen .status .assets {
    display: none;
}

.App #omegaLoadingScreen .status.loadingAssets .assets {
    display: block;
}

.App #omegaLoadingScreen .status.loadingAssets .blockchain {
    display: none;
}

.App .progressOuter {
    position: fixed;
    bottom: 2rem;
    border-radius: 0.5rem;
    width: 20%;
    left: 40%;
}

.App .logsButton.underAttack {
    animation: pulse 1s infinite;
    color: #F44336;
}

.progress-line, .progress-line:before {
  border-radius: 0.5rem;
  height: 0.5rem;
  width: 100%;
  margin: 0;
}

.progress-line {
  background-color: #73ffbe;
  display: -webkit-flex;
  display: flex;
}

.progress-line:before {
  background-color: white;
  content: '';
  -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@-webkit-keyframes running-progress {
  0% { margin-left: 0px; margin-right: 100%; }
  50% { margin-left: 25%; margin-right: 0%; }
  100% { margin-left: 100%; margin-right: 0; }
}

@keyframes running-progress {
  0% { margin-left: 0px; margin-right: 100%; }
  50% { margin-left: 25%; margin-right: 0%; }
  100% { margin-left: 100%; margin-right: 0; }
}

.App .omegaTip {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: calc(100% - 1rem);
    height: 3.5rem;
    color: #73ffbe;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background: rgba(0, 0, 0, 0.4);
}

.App .omegaTip .title {
    font-size: 1rem;
}

.App .omegaTip .explanation {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
    }

    70% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(0.8);
    }
}

@keyframes pulseweak {
    0% {
        transform: scale(0.9);
    }

    70% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(0.9);
    }
}

@keyframes pulsebackground {
    0% {
        background: rgba(0, 0, 0, 0.4);
    }

    70% {
        background: rgba(115, 255, 190, 0.4);
    }

    100% {
        background: rgba(0, 0, 0, 0.4);
    }
}

.App .mainMenu .mainMenuItem.unread {
    animation: pulsebackground 1s infinite;
}

.pulse {
    animation: pulse 1s infinite;
}

.pulseWeak {
    animation: pulseweak 1s infinite;
}

.pulseBackground {
    animation: pulsebackground 1s infinite;
}

video::-webkit-media-controls-overlay-play-button {
    display: none !important;
}

canvas:focus {
    outline: none;
}

.orientationWarning {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
}

.orientationWarning .rotate {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.orientationWarning .MuiSvgIcon-root {
    font-size: 6rem;
}

@media (orientation:portrait) {
    .orientationWarning {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

.tapToStart {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.tapToStart .info {
    font-size: 4rem;
    background: rgba(0, 0, 0, 0.4);
}

.Universe.fullScreen ~ .settingsWrapper,
.Universe.fullScreen ~ .mainBalance,
.Universe.fullScreen ~ .versionBox {
    display: none;
}

.tourButton {
    height: 3rem;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0.5rem;
    border: 2px solid #73ffbe;
    color: #73ffbe;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
    flex-direction: column;   
    text-transform: uppercase;
    text-align: center;
}

.grade.common {
    color: white;
}

.grade.rare {
    color: #1e88e5;
}

.grade.epic {
    color: #AB47BC;    
}

.grade.legendary {
    color: #fdd835;
}

.grade.primal {
    color: #f4511e;
}

.gradeBackground.common {
    background-color: white;
}

.gradeBackground.rare {
    background-color: #1e88e5;
}

.gradeBackground.epic {
    background-color: #AB47BC;    
}

.gradeBackground.legendary {
    background-color: #fdd835;
}

.gradeBackground.primal {
    background-color: #f4511e;
}

.MuiLinearProgress-root {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
}

body > [role="presentation"] {
    padding: 5%;
}